main {
  background-color: #495e57;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 2rem 0;
  min-height: 100vh;
}
main > h1 {
  color: #f4ce14;
}
main h2 {
  color: #fff;
}
.booking-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 40px;
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.field label {
  font-weight: 800;
  color: #f4ce14;
  margin-bottom: 0.25rem;
}
.error {
  position: absolute;
  left: 0;
  transform: translateY(200%);
  font-weight: 600;
  color: #ee9972;
}
.btn-primary {
  font-weight: 800;
}
.field input:not(.btn-primary),
select {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 16px;
  border: 1px solid #edefee;
  background-color: #0000000c;
  color: white;
  font-weight: 800;
}
.errorInput {
  border-color: #ee9972 !important;
}

input:not(.btn-primary):focus,
select:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 2px #f4ce14;
}

.details {
  display: grid;
  width: 400px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  color: #fff;
}
.details p:nth-child(odd) {
  text-align: right;
  padding-right: 1rem;
}

.details p:nth-child(2n) {
  font-weight: 800;
}
